# Rproject and RStudio-related files
.Rproj.user/**
.Rproj.user/*
.Rhistory
.RData
.Ruserdata
.Rproj.user

# specific file types that are large. pipeline should utilize tabular or 
# simple text when possible, or source/binary files when necessary.
**/*.h5
**/*.cloupe
**/*.xlsx
**/*.jpg
**/*.html
**/*.tiff
**/*.rds

# Outputs of analyses (inferential types of things)
**/cellranger/**
results/quality-control-data-processing/**

# machine-specifics like environments and paths
renv/**
.ipynb*

# Lab notebook/record-keeping files for private use only
notebook*
